.About{
    margin-top: 7.5rem;
    padding-bottom: 7.5rem;
    margin-left: 19vw;
    margin-right: 19vw;
}

.aboutTop{
    display: flex;
}

.aboutTop-tit{
    margin-left: 1rem;
    margin-right: 3rem;
}

.aboutTop-tit h3{
    font-family: 'Poppins';
    font-size: 5.6rem;
    color: rgba(131, 145, 146, 0.8);
    font-weight: 400;
}

.aboutTop-txt{
    margin-right: 1rem;
    margin-left: 3rem;
    font-family: 'Poppins';
    font-size: 0.95rem;
    color: #212529;
}

.aboutTop-txt span{
    font-size: 1.2rem;
    font-weight: 500;

}

.aboutBotom{
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}

.aboutIcon{
    color: #839192;
    font-size: 3rem;
}
.aboutTool{
    font-family: "Poppins";
    font-weight: 500;
}

@media(max-width:1000px){
    .aboutTop{
        flex-direction: column;
    }
    .aboutTop-txt{
        margin-left: 1rem;
        margin-top: 1rem;
    }
}

@media(max-width:800px){
    .aboutTop-tit h3{
        font-size: 3.5rem;
    }
    .aboutIcon{
        font-size: 2rem;
    }
}

@media(max-width:600px){
    .aboutBotom{
        flex-wrap: wrap;
    }
    .aboutIcon{
        margin-bottom: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .About{
        margin-top: 4rem;
    }
    .aboutTop-txt{
        font-size: 0.8rem;
    }
    .aboutTop-txt span{
        font-size: 1rem;
        margin-top: 2rem;
    }
}

@media(max-width:420px){
    .aboutTop-tit h3{
        font-size: 2.5rem;
    }
}