.Experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.Experience h3{
    font-family: 'Poppins';
    font-size: 5.2rem;
    color: #AE393F;
    font-weight: 400;
}