.Navbar{
    text-align: center;
}

.navContainer{
    max-width: 100% !important;
    margin-top: 0.2rem;
}

.navCollapse{
    justify-content: center !important;
    align-items: center !important;
}

.navPrincipal a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
}

.nav-link{
    color: #727272 !important;
}
.nav-link.active{
    color: #212529 !important;
}
.nav-link:hover{
    text-decoration: underline;
}

.navPrincipal a{
    color: #727272 !important;
    padding: 0.5rem;
}
.navPrincipal a:hover{
    text-decoration: underline !important;
}
.navPrincipal a.active{
    color: #212529 !important;
    text-decoration: none;
}


.navbar-toggler {
  border: none !important;
} 

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
